.editContainer{
    background-color: #0d1117;
    min-width: 900px;
    min-height: 350px;
    max-width: 900px;
    margin: 10rem auto 10px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #f9f9f9;
    border-radius: 10px;
}

.editContainer .admin_photo{
    top: 5rem;
}

.inputForms{
    margin-top: 23rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    /* background-color: rgb(27, 132, 224); */
    font-size: 1.6rem;
    
}

.inputs input{
    width: 100%;
    height: 38px;
    border: 1px solid #0d1117;
    margin-top: 2px;
    padding: 8px 12px;
}